@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  /* color: #484b6a; */
  color: hsl(236, 9%, 61%);
  /* color: #fafafa; */
  /* color: #e4e5f1; */
}

.circle {
  height: 35px;
  width: 35px;
  border: 2px solid #e4e5f1;
}