@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-styles {
    @apply 
  }
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.circle {
  height: 35px;
  width: 35px;
}